<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Home</title>
</head>
<body>
  <nav class="nav-bar">
    <ul class="nav-bar-ul">
      <li><a href="/about">Ir a About</a></li>
      <li><a href="/works">Ir a Works</a></li>
      <li><a href="/gallery">Ir a Gallery</a></li>
    </ul>
  </nav>
  <header class="header">
    <h2>Nikola Tesla</h2>
    <aside class="quote"><i>“If you want to find the secrets of the universe, think in terms of energy, frequency and vibration.”</i>
    </aside>
  </header>
</body>
</html>